* {
    font-family: 'Nunito', sans-serif;
    color: #FFFFFF;
    text-shadow: rgb(0, 0, 0) 1px 1px 1px;
    font-size: 24px;
    overflow: hidden;
}
body {
  background-color: rgba(0, 0, 0, 0.1);
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}